header {
    background-color: #343A40;
    text-align: center;
    color: #FAFDFF;
    padding: 5px;
}

.search-card {
    padding: 5px;
}

.past-search {
    text-align: left;
}

#weather-today {
    display: none;
    padding-bottom: 20px;
}

.card-title, .card-text {
    padding: 5px;
    font-weight: normal;
}

.uv-span {
    padding: 3px;
}